doctype html
html(lang="en")
  head
    base(href="/")

    //- Meta tags
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="HandheldFriendly" content="True")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(property="og:locale", content="en_US")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css")
    title Isomorphic Typescript
  body
    my-app Loading...
    script(src="https://code.jquery.com/jquery-2.1.1.js")
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.js")